{% extends "layout.html.twig" %}

{% block title 'Crear' %} 

{% block content %}
<div id="core" class="container clearfix">
    <div id="primary-content" class="clearfix">
    Welcome to your new Silex Application ADMINISTRATOOOOORRR!
    <form class="form" action="#" method="post">
            {{ form_widget(form) }}
         
            <input type="submit" name="submit" value="Guardar" />
        </form>
     </div>
</div>
{% endblock %}
